a {
  text-decoration: none;
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
  Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

h2,h1,p{
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
  Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}